@import "tailwindcss";
@theme{
  --color-accent: #f50963;
  --color-primary : #212121;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px #f1f1f1;
    color: transparent;
  }
}

body{
  background-color: #f7f7f7;
}